/**
  Customized properties (to override plugin styling for example)
 */

 .flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .cursor-pointer {
   cursor: pointer;
 }