/**
  Customized properties (to override plugin styling for example)
 */

 .flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .cursor-pointer {
   cursor: pointer;
 }

 .margin-center {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
 }