/**
  Registers the fonts for the application.
 */
// Fonts
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: "PixelDigivolve";
  font-weight: 400;
  src: url("../fonts/Pixel\ Digivolve.otf") format(".otf");
}
@font-face {
  font-family: "PixelDigivolveItalic";
  font-weight: 400;
  src: url("../fonts/Pixel\ Digivolve\ Italic.otf") format(".otf");
}
