/**
  Variables to be used throughout the application
 */

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
                (
                        xs: 0,
                        sm: 576px,
                        md: 768px,
                        lg: 992px,
                        xl: 1200px
                ),
                $grid-breakpoints
);

$s3-base-url: 'https://metalucha.s3.ap-southeast-1.amazonaws.com/assets/';

/**
COLORS
*/
$white: #FFF;
$black: #000;

$meta-primary: #b72cff;
$meta-secondary: #ff00c7;